/*
// ----------------------------------------------
// Usage example:
// For IE set $mq-support to false.
// Set the fixed value.
// Then use mixins to test whether styles should be applied.
// ----------------------------------------------

$mq-support: false;
$mq-fixed-value: 1024;

// Renders at fixed value
@include bp (min-width, 300px) { 
    div { color:#000; }
}

// Doesn't render without MQ support
@include bp (min-width, 1200px) { 
    div { color:#FFF; }
}

// Doesn't render without MQ support
@include bp (max-width, 300px) { 
    div { color:#444; }
}

// Renders at fixed value
@include bp (max-width, 1200px) { 
    div { color:#888; }
}

// ----------------------------------------------
*/
/* ============================================ *
 * Homepage
 * ============================================ */
/* -------------------------------------------- *
 * Primary Banner
 */
/* line 36, ../scss/content/_home.scss */
body.cms-home .main-container {
  padding-top: 0;
}
/* line 40, ../scss/content/_home.scss */
body.cms-home .slideshow-container {
  margin-top: 0;
}

/* line 45, ../scss/content/_home.scss */
.slideshow .banner-msg {
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  top: 30%;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* line 54, ../scss/content/_home.scss */
.slideshow .banner-msg h2 {
  color: #FFFFFF;
  font-size: 24px;
  text-shadow: 1px 1px 3px #555555;
}

/* line 60, ../scss/content/_home.scss */
.slideshow .banner-msg h2 strong {
  font-weight: bold;
  display: block;
  font-size: 36px;
}

/* -------------------------------------------- *
 * Promotion Banner Section
 */
/* line 96, ../scss/content/_home.scss */
.promo-div {
  background-color: #f2f2f2;
  padding: 50px 0;
}

/* line 101, ../scss/content/_home.scss */
.promos {
  margin: 0 auto !important;
  padding: 0;
  max-width: 1110px;
}
/* line 106, ../scss/content/_home.scss */
.promos li {
  position: relative;
}

/* line 111, ../scss/content/_home.scss */
.promos:after {
  content: '';
  display: table;
  clear: both;
}

/* Specifying the body only in order to override the .std ul li styling */
/* line 117, ../scss/content/_home.scss */
body .promos > li {
  margin: 0 0 10px 0;
  list-style: none;
  text-align: center;
  position: relative;
  border: 1px solid #CCCCCC;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* line 126, ../scss/content/_home.scss */
.promos > li:last-child {
  margin-bottom: 0;
}

/* line 130, ../scss/content/_home.scss */
.promos img {
  max-width: 100%;
  width: 100%;
}

/* line 135, ../scss/content/_home.scss */
.promos a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: block;
}

/* line 140, ../scss/content/_home.scss */
.promos span {
  color: #FFFFFF;
  text-transform: uppercase;
  position: absolute;
  display: block;
  width: 100%;
  top: 10%;
  font-weight: 500;
  font-size: 20px;
  font-family: "Domine", "Helvetica Neue", Verdana, Arial, sans-serif;
  text-shadow: 1px 1px 3px #555555;
}

/* line 153, ../scss/content/_home.scss */
.promos strong {
  font-weight: 600;
  font-size: 26px;
  display: block;
}

/* line 161, ../scss/content/_home.scss */
.promos span {
  font-size: 16px;
}

/* line 165, ../scss/content/_home.scss */
.promos strong {
  font-size: 17px;
}

/* Config: Three columns + flexible gutter */
/* line 172, ../scss/content/_home.scss */
body .promos > li {
  float: left;
  width: 31.74603%;
  margin-right: 2.38095%;
}

/* line 178, ../scss/content/_home.scss */
.promos > li:nth-child(3n) {
  margin-right: 0;
}

/* line 184, ../scss/content/_home.scss */
.promos span {
  font-size: 18px;
}

/* line 188, ../scss/content/_home.scss */
.promos strong {
  font-size: 24px;
}

/* -------------------------------------------- *
 * New Products Section
 */
/* Hiding the reviews content via CSS because we can't modify the template, */
/* since it may be used in other places where those elements are needed */
/* line 206, ../scss/content/_home.scss */
.cms-index-index h2.subtitle {
  padding: 6px 0;
  text-align: center;
  color: #232323;
  font-weight: 600;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC;
}

/* line 215, ../scss/content/_home.scss */
.cms-index-noroute h2.subtitle {
  display: none;
}

/* line 219, ../scss/content/_home.scss */
.block-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 226, ../scss/content/_home.scss */
.block-overlay-text {
  font-size: 35px !important;
}
/* line 230, ../scss/content/_home.scss */
.block-overlay-button {
  color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  height: 50px;
  line-height: 50px;
  width: 160px;
  top: 57.5%;
  font-size: 18px;
  display: inline-block;
  position: relative;
}
/* line 242, ../scss/content/_home.scss */
.block-overlay-button:hover {
  text-decoration: none;
  color: #f2f2f2;
  display: inline-block !important;
}

/* line 250, ../scss/content/_home.scss */
.home-text {
  text-align: center;
  max-width: 855px;
  margin: 80px auto;
}
/* line 255, ../scss/content/_home.scss */
.home-text h1 {
  font-size: 35px;
}
/* line 259, ../scss/content/_home.scss */
.home-text p {
  margin-bottom: 5px;
}
/* line 263, ../scss/content/_home.scss */
.home-text .gml-red {
  color: #df2f25;
}
